body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
}

#boton{
    position:absolute;
    top:75%;

    margin-left:70%;
}

#carita{
    font-size: 250px;
    
}

#texto_error{
    font-size: 75px;
}

#explicacion_error{
    font-size:30px;
    
}

#inicio{
    width: 200px;
    height: 75px;
    font-size:30px;
}