/*Aqui empieza codigo de animaciones. */

@-webkit-keyframes cabeceraAnim {
    0%   { width: 0%; }
    100% { width: 100%; }
}
@-moz-keyframes cabeceraAnim {
    0%   { width: 0%; }
    100% { width: 100%; }
}
@-o-keyframes cabeceraAnim {
    0%   { width: 0%; }
    100% { width: 100%; }
}
@keyframes cabeceraAnim {
    0%   { width: 0%; }
    100% { width: 100%; }
}

@-webkit-keyframes lateralAnim {
    0%   { height: 0px; }
    100% { height: calc(100% - 90px); }
}
@-moz-keyframes lateralAnim {
    0%   { height: 0px; }
    100% { height: calc(100% - 90px); }
}
@-o-keyframes lateralAnim {
    0%   { height: 0px; }
    100% { height: calc(100% - 90px); }
}
@keyframes lateralAnim {
    0%   { height: 0px; }
    100% { height: calc(100% - 90px); }
}

@-webkit-keyframes centroAnim {
    0%   { width: 0px; opacity: 1; }
    100% { width:100%; opacity: 1;}
}
@-moz-keyframes centroAnim {
    0%   { width: 0px; opacity: 1; }
    100% { width:100%; opacity: 1;}
}
@-o-keyframes centroAnim {
    0%   { width: 0px; opacity: 1; }
    100% { width:100%; opacity: 1;}
}
@keyframes centroAnim {
    0%   { width: 0px; opacity: 1; }
    100% { width:100%; opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0%   { opacity:0; }
    46.15% { opacity: 0;}
    100%{ opacity: 100;}
}
@-moz-keyframes fadeIn {
    0%   { opacity:0; }
    46.15% { opacity: 0;}
    100%{ opacity: 100;}
}
@-o-keyframes fadeIn {
    0%   { opacity:0; }
    46.15% { opacity: 0;}
    100%{ opacity: 100;}
}
@keyframes fadeIn {
    0%   { opacity:0; }
    46.15% { opacity: 0;}
    100%{ opacity: 100;}
}

.anim1 {
    -webkit-animation: cabeceraAnim 0.4s 1; /* Safari 4+ */
    -moz-animation:    cabeceraAnim 0.4s 1; /* Fx 5+ */
    -o-animation:      cabeceraAnim 0.4s 1; /* Opera 12+ */
    animation:         cabeceraAnim 0.4s 1; /* IE 10+, Fx 29+ */
}

.anim2 {
    -webkit-animation: lateralAnim 0.4s 1; /* Safari 4+ */
    -moz-animation:    lateralAnim 0.4s 1; /* Fx 5+ */
    -o-animation:      lateralAnim 0.4s 1; /* Opera 12+ */
    animation:         lateralAnim 0.4s 1; /* IE 10+, Fx 29+ */
}

.anim3 {
    -webkit-animation: centroAnim 0.4s 1; /* Safari 4+ */
    -moz-animation:    centroAnim 0.4s 1; /* Fx 5+ */
    -o-animation:      centroAnim 0.4s 1; /* Opera 12+ */
    animation:         centroAnim 0.4s 1; /* IE 10+, Fx 29+ */
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.anim4 {
    -webkit-animation: fadeIn 2.6s 1; /* Safari 4+ */
    -moz-animation:    fadeIn 2.6s 1; /* Fx 5+ */
    -o-animation:      fadeIn 2.6s 1; /* Opera 12+ */
    animation:         fadeIn 2.6s 1; /* IE 10+, Fx 29+ */

}

/*Aqui acaba codigo de animaciones. */



















body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    z-index:-9999;
    overflow:hidden;
}

a {
    text-decoration: none;
    color: black;
}

#cabecera {
    height: 90px;
    width: 100%;
    background-color: #16a085;
    box-shadow: 0px 10px 15px -2px rgba(50, 50, 50, 0.3);
    position: relative;
    z-index: 2;
}

#textocabecera{
    height: 60px;
    position:relative;
    top:15px;
    left:15px;
    font-size: 50px;
}

iframe{
    width: 100%;
    height: 100%;
}

#opcion{
    background-color: #9BD1C6;
    transition:0.1s;

}
#opcion:hover{
    background-color: #FFFFFF;
    transition:0.1s;
}

#lateral {
    width: 15px;
    height: calc(100% - 90px);
    background-color:#9BD1C6;
    float:left;
    font-size:0.2;
    box-shadow:         5px 4px 15px -2px rgba(50, 50, 50, 0.5);
    position: relative;
    z-index: 5000;
    background-image: url('../images/flecha-derecha.png');
    background-repeat: no-repeat;
    background-position: left center;
    transition:0.2s;
}


#lateral p{
    margin: 2px;
}

#lateral:hover {
    opacity: 1;
    width: 300px;
    height: calc(100% - 90px);
    background-color:#9BD1C6;
    float:left;
    position:relative;
    z-index:5000;
    transition:0.2s;
    font-size:16px;
    background-image: none;
    box-shadow:         5px 4px 15px -2px rgba(50, 50, 50, 0.75);
}

#contenidoLateral{
    opacity: 0;
    transition: 0.2s;
    width: 280px;
    position:relative;
    top:15px;
    left:10px;
}

#lateral:hover > #contenidoLateral {
    opacity: 1;
    transition: 0.2s;
}

#flechaintuitiva{
    width: 14%;
    position:fixed;
    transition:0.2s;
    opacity: 1;
}
#lateral:hover + #flechaintuitiva{
    opacity: 0;
    transition:0.2s;
}


#centro{
    opacity: 0;
    background-color: #F9F9F9;
    background-repeat: repeat;
    width: 0%;
    height: calc(100% - 90px);
    position: relative;
    z-index: -1
}

div#contenido {
    padding: 10px 10px 10px 10px;
    width: 760px;
    height: calc(100% - 40px);
    position:relative;
    z-index: 0;
    top:20px;
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    margin: auto auto auto auto;
    background-color: #FFFFFF;

}

#pagina{
    position:absolute;
    text-align: center;
}


#form_pass{
    width: 275px;
    margin-left: 242.5px;
    margin-top: 50px;
}

#lista_tareas{
    display: block;
    width:100%;
}

#lista_tareas th{
    background-color:lightgreen;
    border-style: solid;
    border-color: darkgreen;
    border-width: 1px;
}

#lista_tareas td{
    border-style: solid;
    border-color: darkgreen;
    border-width: 1px;
}

#gestion_tareas table{
    text-align: left;
}

#gestion_tareas th{
    background-color: lightgreen;
    border-style: solid;
    border-color: darkgreen;
    border-width: 1px;
}

#gestion_tareas td{
    border-style: solid;
    border-color: darkgreen;
    border-width: 1px;
}
#gestion_tareas_frase{
    text-align: left;
}

#gestion_usuarios th{
    background-color: lightgreen;
    border-style: solid;
    border-color: darkgreen;
    border-width: 1px;

}

#gestion_usuarios td{
    border-style: solid;
    border-color: darkgreen;
    border-width: 1px;
}

#terminar{
    margin-left: 682px;
}












#creatarea_form{
    text-align: left;
}

#creatarea_nombre{
    float:left;
    position:relative;
}
#creatarea_nombreform{
    float:right;
    position:relative;
    left: 40px;
    top:-4px;
}

#creatarea_desc{
    position:relative;
    left:-52px;
}

#creatarea_prioridad{
    position:relative;
    left:475px;
    top:-18px;
}

#creatarea_proridadform input{
    position:relative;
    left:540px;
    top:-39px;
    width:40px;
}

#boton_editar{
    width: 20px;
}





/*Código específico para navegadores */

@-moz-document url-prefix() {
    body {
        position:relative;
        top: -50px;
        overflow: hidden;
    }
    #lateral{
        height: 100%;
    }
    #lateral:hover{
        height: 100%;
    }
    div#contenido{
        height: 100%;
    }


}
